<div class="card">
    <p></p>

    <a href="/topic/{{id}}">{{topic}}</a>
    <div class="card-content hoverable blue-grey lighten-4">
        {{content}}
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
        <p>{{format_date date_created}}</p>
        <p>
        Posted By: {{user.name}}</a></p>
    </div>
</div>